{
  "name": "{{name}}",
  "version": "0.1.0",
  "description": "{{description}}",
  "main": "index.js",
  "scripts": {
    "test": "standard && nsp check && istanbul cover tape test.js",
    "commit": "git-cz",
    "setup": "npm i && semantic-release-cli setup",
    "lint-prose": "write-good *.md"
  },
  "repository": {
    "type": "git",
    "url": "git+https://github.com/{{user}}/{{name}}.git"
  },
  "keywords": [],
  "author": "",
  "license": "ISC",
  "bugs": {
    "url": "https://github.com/{{user}}/{{name}}/issues"
  },
  "homepage": "https://github.com/{{user}}/{{name}}#readme",
  "devDependencies": {
    "tape": "*",
    "standard": "*",
    "nsp": "*",
    "commitizen": "*",
    "cz-conventional-changelog": "*",
    "semantic-release-cli": "*",
    "istanbul": "*",
    "write-good": "*"
  },
  "config": {
    "commitizen": {
      "path": "cz-conventional-changelog"
    }
  }
}
