# {{project-name}}
[![Commitizen friendly](https://img.shields.io/badge/commitizen-friendly-brightgreen.svg)](http://commitizen.github.io/cz-cli/)
[![Travis](https://img.shields.io/travis/{{github-user}}/{{project-name}}.svg)](https://travis-ci.org/{{github-user}}/{{project-name}})
[![JavaScript Style Guide](https://img.shields.io/badge/code_style-standard-brightgreen.svg)](https://standardjs.com)

## install
`$ npm install --save-dev {{project-name}}`

## usage
```js
  var {{project-short-name}} = require('{{project-name}}')

```

## api

## cli

## license
MIT
